<app-custom-bar name="User Profile"></app-custom-bar>
<ng-container [formGroup]="contactForm">
  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint *ngIf="name && name.invalid && (name.dirty || name.touched) && name.errors?.required">Name is required.</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Organization</mat-label>
      <input formControlName="organization" matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_balance</mat-icon>
    </mat-form-field>
  </div>
</ng-container>
