.form-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
mat-form-field {
  flex: 1;
}
.organization {
  padding-left: 19px;
}
@media screen and (max-width: 530px) {
  .organization {
    padding-left: 0;
  }
  mat-form-field {
    flex: 0 0 100%;
  }
}
